body {
    font-family: 'Roboto', sans-serif;
    background-color: #c3d4e8;
}

.container {
    background-color: #d3e2f4;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(33, 31, 43, 0.2);
}

.top-header {
    margin: 20px 0;
    text-align: center;
}

.top-header h5 {
    font-size: 50px;
    font-weight: bold;
    color: #333;
}

.top-header p {
    font-size: 20px;
    color: #4c617b;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.select-wrapper {
    position: relative;
}

.select-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px; /* Adjust the width as needed */
    background: #fff; /* Background color for the icon container */
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none; /* Allows clicking through the icon */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.select-icon::before {
    content: '\25BC'; /* Unicode arrow-down character */
    font-size: 16px; /* Adjust the size as needed */
}

.submit {
    text-align: center;
    padding-bottom: 30px;
}

.alert-danger {
    background-color: #9d2323;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
}
